@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    background-color: #1F2421; /*856084*/
    color: #F2F4F3;
    font-family: 'Lato', sans-serif;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

#input-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

input {
    color: #cbcdcc;
    background-color: #888098;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    min-width: 15rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0.25rem 0.25rem 0px 0.05rem #fff;
}

input:focus {
    outline: none;
    box-shadow: 0.125rem 0.125rem 0px 0.05rem #fff;
}

input::-webkit-input-placeholder{
    color: #cbcdcc; /* safari yayay */
}

#review-container {
    background-color: #856084;
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.125rem solid #fff;
}
#card-front {
    background-color: #856084;
    text-align: center;
}