@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    background-color: #1F2421; /*856084*/
    color: #F2F4F3;
    font-family: 'Lato', sans-serif;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}