@import url('https://fonts.googleapis.com/css2?family=Rubik+Maze&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    background-color: #1F2421;
    color: #F2F4F3;
    font-family: 'Lexend', sans-serif;
    text-align: center;
}

header h1, header a {
    font-family: "Rubik Maze", cursive;
}

#review-container button[data-quality] {
    display: none;
}